SPARK_HISTORY_CLEANER_ENABLED=true
SPARK_HISTORY_CLEANER_INTERVAL=1d
SPARK_HISTORY_CLEANER_MAX_AGE=7d
SPARK_DAEMON_MEMORY=1G
SPARK_HISTORY_OPTS=-Dspark.eventLog.enabled=true -Dspark.eventLog.dir=hdfs://namenode:8020/user/spark/events -Dspark.history.fs.logDirectory=hdfs://namenode:8020/user/spark/events
SPARK_MASTER=spark://spark-master:7077